version: "3.8"

services:
  doc-api:
    build: .
    container_name: doc-api
    ports:
      - "8001:8000"
    environment:
      EPEM_ENDPOINT: "10.208.211.11:5002"
      DNS_SERVER: "192.0.1.1"
      # Connect to the existing MongoDB container running on the host
      MONGO_URI: "mongodb://localhost:27017/doc_database"
      MONGO_DB: "doc_database"
      MONGO_COLL: "mitigation_actions"
    volumes:
      - .:/app
    networks:
      - bridge  # connect to the existing 'bridge' network

networks:
  bridge:
    external: true
