version: "3.8"

services:
  doc-api:
    build: .
    ports:
      - "8001:8000"
    environment:
      EPEM_ENDPOINT: "10.208.211.11:5002"
      DNS_SERVER: "192.0.1.1"
      MONGO_URI: "mongodb://root:qwerty1234@mongodb:27017/doc_database?authSource=admin"
      MONGO_DB: "doc_database"
      MONGO_COLL: "mitigation_actions"
    volumes:
      - .:/app
    networks:
      - doc-network

networks:
  doc-network:
    external: true
